<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Me To Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class='container'>
        <div class='jumbotron text-center'>
            <h1>Mars Mission</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Rocket to Mars</a></p>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h3 class='article-head'>{{mission.article_title}}</h3>
                <p class='article-body'>{{mission.article_teaser}}</p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-8'>
                <h3>Featured Mars Image</h3>
                <img src={{mission.feature_url}} style='width:100%'>
            </div>
            <div class='col-md-4'>
                <h6>Mars Facts</h6>
                <div class='facts'>
                    {{mission.table|safe}}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h3>Mars Hemispheres</h3>
                <hr>
            </div>
        </div>
        <div class='row'>
            <!-- {% for flat in mission.hemisphere %}
            <div class='col-md-3'>
                <div class='card'>
                    <div class='card-body'>
                        <img class='card-img-top' src='...' alt='Img of Hemisphere'>
                        <h5 class='card-title'>{{flat.title}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %} -->
            <ul>
                {% for flatearth in mission.hemispheres %}
  
                    <div class='col-md-3'>
                        <div class='card'>
                            <div class='card-body'>
                                <li style='list-style: none;'><img class='card-img-top' src={{flatearth.img_url}} alt='Img of Hemisphere'></li>
                                <li style='list-style: none;'><h5 class='card-title'>{{flatearth.title}}</h5></li>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </ul>

        </div>


    </div>


</body>




</html>