<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take Me To Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<!-- <body style='font-family: futura, Trebuchet MS, Arial, sans-serif'> -->
<body>
    <div class='container'>
        <div class='jumbotron text-center'>
            <h1>Mars Mission</h1>
            <p><a class="btn btn-primary btn-lg"  style='background-color: rgb(188,39,50); border-color: rgb(188,39,50);' href="/scrape" role="button">Take a Rocket to Mars</a></p>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h3>Latest Mars News</h3>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='article-head'>{{mission.article_title}}</h5>
                        <p class='article-body'>{{mission.article_teaser}}</p>
                    </div>
                </div>
                <hr>
                <hr>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-8'>
                <div class='card' style='width:80%'>
                    <div class='card-body'>
                        <h3>Featured Mars Image</h3>
                        <img src={{mission.feature_url}} style='width:100%'>
                    </div>
                </div>

            </div>
            <div class='col-md-4'>
                <div class='card'>
                    <div class='card-body'>
                        <h6>Mars Facts</h6>
                        <div class='facts'>
                            {{mission.table|safe}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <hr>
                <hr>
                <h3>Mars Hemispheres</h3>
                <hr>
            </div>
        </div>
        <div class='row'>
            {% for flatearth in mission.hemispheres %}
                <div class='col-md-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <img class='card-img-top' src={{flatearth.img_url}} alt='Img of Hemisphere'>
                            <h5 class='card-title'>{{flatearth.title}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>


</body>




</html>